<main class="content">
    <div class="container">
    	<h1>Welcome To Solarlite</h1>
		<p>"Run by the sun"</p>
    </div>
</main>

<div>
	<h2>About Us</h2>
	<p>SolarLite is a global platform that leverages community & rewards to give homeowners the power to create a brighter world.</p>
</div>
<br>
<h2>View Your Solar Potential</h2>
<div>
	<%= render 'layouts/form' %>
</div>
<br>
<div>
	<h2>Featured Solarlite</h2>
	<img class="featured_user" src="/family_home.png" height="190" width="280">
	<p>John Doe</p>
	<p>Rank #1</p>
	<p>Savings this year <h3>$357.89</h3></p>
</div>

<div>Top Users</div>
<br>
<div>
	<%= render 'layouts/footer' %>
</div>