<main class="content">
    <div class="container">
    	<h1>Welcome To Solarlite</h1>
		<h3>"Run by the sun"</h3>
    </div>
</main>

<div>
	<h2>About Us</h2>
	<p>SolarLite is a global platform that leverages community & rewards to give homeowners the power to create a brighter world.</p>
</div>
<br>
<h2>View Your Solar Potential</h2>
<div>
	<%= render 'layouts/form' %>
</div>
<br>
<div>
	<h2>Featured Solarlite</h2>
	<img class="featured_user" src="/family_home.png" height="190" width="280">
	<p>John Doe</p>
	<p>Rank #1</p>
	<p>Savings This Year <h3>$357.89</h3></p>
	<p>Lifetime Savings <h3>$7,895.78</h3></p>
</div>

<div>
	<h4>Top Solarlites</h4>
	<ol>
		<li><a href="/users/1">John Doe</a></li>
		<li><a href="#">Lupita Davila</a></li>
		<li><a href="#">Brian Bernheim</a></li>
		<li><a href="#">Anthony Holloway</a></li>
		<li><a href="#">Ariana Whitson</a></li>
	</ol>
</div>
<!-- Have these two h4 tags side by side in boxes -->
<div>
	<h4>Users In Your Area</h4>
	<ol>
		<li><a href="#">Hussein Al-sammaraie</a></li>
		<li><a href="#">Jack Howerton</a></li>
		<li><a href="/users/1">John Doe</a></li>
		<li><a href="#">Max Bower</a></li>
		<li><a href="#">Ken Rettberg</a></li>
	</ol>
</div>
<br>
<div>
	<%= render 'layouts/footer' %>
</div>