<main class="content">
    <div class="container">
    	<h1>Welcome To Solarlite</h1>
		<p>The only place to make money while netwroking with soalr people in your area</p>
    </div>
</main>

<%= render 'layouts/form' %>